<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista dos Empregos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link th:href="@{/css/app.css}" rel="stylesheet" />
</head>
<body>

<header class="col-12 header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/jobs/">Jobs</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/jobs/">Home</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</header>

    <div class="container">
        <div class="row">
            <div class="col-4">
                <h1>Lista dos Empregos</h1>
            </div>

            <div class="col-2 offset-md-6">
                <a href="/jobs/create" class="btn btn-outline-success">Create</a>
            </div>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Título</th>
                <th scope="col">Empresa</th>
                <th scope="col">Descrição</th>
                <th scope="col">Editar</th>
                <th scope="col">Excluir</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="job : ${jobs}">
                <th th:text="${job.title}" scope="row"></th>
                <td th:text="${job.company}"></td>
                <td th:text="${job.description}"></td>
                <td class="iconPencil"><a th:href="@{/jobs/edit/{id}(id=${job.id})}"><i class="bi bi-pencil"></i></a></td>
                <td class="iconTrash"><a th:href="@{/jobs/delete/{id}(id=${job.id})}"><i class="bi bi-trash"></i></a></td>
            </tr>
            </tbody>
        </table>


    </div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
</body>
</html>